/* Global, used in all .html files ==============================*/
div
{
	margin: auto;
}

.footer
{
	font-size: 12px;
	text-align: center;
}

/* USED IN LOGIN.HTML ===========================================*/
.login_fields
{
	position: relative;
	width: 30%;
}

.center
{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* USED IN scanDevices.HTML / networkView.HTML =================*/
.float_from_left
{
	margin-left: 15%;
}

.center_image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button_center
{
	margin-left: 42%;
	margin-right: auto;
}