/* Global, used in all .html files ==============================*/
.footer
{
	font-size: 12px;
	text-align: center;
}

/* USED IN index.html ===========================================*/
.bt_first_col
{
	width: 75%;
	height: 10%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.left_div
{
	margin-left: 15px;
}

.right_div
{
    width: 75%
	margin-right: 15px;
}

.button-buffer
{
    margin-bottom: 300px;
}

.top-buffer
{
    margin-top:-550px;
    margin-right:-90px;

}

.bottom-buffer1
{
    /*margin-top: 100px;*/
    /*margin-right:-200px;*/

}

.bottom-buffer2
{
    margin-top: 140px;
}

.nav_pad
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.logo
{
	color: white;
}

/* USED IN LOGIN.HTML ===========================================*/
.login_fields
{
	position: relative;
	width: 30%;
	margin: auto;
}

.center
{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* USED IN scanDevices.HTML / networkView.HTML =================*/
.float_from_left
{
	margin-left: 15%;
}

.center_image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button_center
{
	margin-left: 42%;
	margin-right: auto;
}