.App {
  background-color: rgb(240, 240, 240);
  position: fixed;
  top: 0;
  width: 100%;
}

.login-image {
  width: auto;
  height: 40em;
  display: flex;
  justify-content: center;
  margin: auto;
}

.login-fields {
  justify-content: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login-fields.form-check{
  padding-top: .5em;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.login-fields .form-check-label{
  padding-left: .5em;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

.navbar h1 {
  color: white;
}

.navbar-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-controls * {
  width: 40px;
  height: 40px;
}

.fa-bell {
  color:white;
}

.fa-right-from-bracket {
  color: rgb(199, 10, 10);
}

.navbar * {
  padding: 0 20px;
}

.App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  flex: 1;
}

.auth-inner {
  width: 80em;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  flex: 1;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.upDevices {
  background-color: rgb(40, 185, 40);
  padding: 20px;
}

.downDevices {
  background-color: rgb(230, 109, 109);
  padding: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.link a:visited {
  color: black;
}
.table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 50px;
  margin: auto;
  flex: auto;
}
  
.th {
  border-bottom: 1px solid black;
  display: block;
  overflow: hidden;
}
  
.td {
  text-align: center;
  display:block;
  overflow:auto;
  overflow-y: scroll;
  height: 200px;
  width:100%;
}


.allContactsButton{
  justify-content: center;
  width: 30%;
  display: flex;
  margin: auto;
}

.scroll {
  height:300px;
  overflow:auto;  
  margin-top:20px;
  flex: auto;
}

.canvas {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.sideChartPadding {
  padding: 0 40px;
}

.buttonPadding {
  padding: 40px 0;
  padding-left: 40%;
  padding-right: 40%;
}

.buttonPadding * {
  margin: 10px 0;
}