.App {
  background-color: rgb(240, 240, 240);
  position: fixed;
  top: 0;
  width: 100%;
}

.login-image {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

/* TODO: Align these login fields PROPERLY */
.login-fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.login-fields * {
  width: 40%;
}

button {
  background-color:rgb(58, 136, 224);
  color: white;
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}

.navbar h1 {
  color: white;
}

.navbar-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-controls * {
  width: 40px;
  height: 40px;
}

.fa-bell {
  color: blue;
}

.fa-right-from-bracket {
  color: rgb(199, 10, 10);
}

.navbar * {
  padding: 0 20px;
}